/* Style for the page container */
.bin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-image: url("../../images/marble.jpeg");
  background-size: cover;
  min-height: 120vh;
  background-attachment: fixed;
}

/* Style for the bin container */
/* Style for the bin container */
.bin-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Updated value */
  width: 1200px;
  margin: 30px auto;
  border-radius: 35px;
  border: 1px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;

}


/* Style for the form container */
.bin-form-container {
  flex: 1;
  padding: 30px;
  background-color: #fff;
  overflow: hidden;
}


/* Style for the image container */
.bin-image-container {
  flex: 1;
  margin-top: 0;
  margin-left: 0;
}

/* Style for the image */
.bin-image {
  width: 100%;
  max-height: 105vh;
  object-fit: cover;
  display: block;
  margin-top: 0;
  margin-left: 0;
}

.bin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  float: right;
  width: 40%;
}

.bin-form-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bin-select {
  margin-right: 10px;
  padding: 1px;
  font-size: 1rem;
  align-items: center;
  border: none;
  outline: none;
  font-size: large;
}

.edit-wrapper {
  margin-left: -247px;
  margin-right: 235px;
}

.editdropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  padding: 1px;
  border: none;
  outline: none;
  font-size: larger;
  font-weight: bold;
  margin-left: -100px;
}

.bin-submit {
  padding: 8px 12px;
  font-size: 1rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}


#bintitle {
  font-size: 2.2rem;
  margin: 0;
  padding: 0;
  float: left;
  color: black;
}

#binbody {
  font-size: 1.2rem;
  float: left;
  color: grey;
}

.bin-body-container {
  font-size: 3rem;
}

.bin-submit:hover {
  background-color: #db3b4e;
}
