#boardz {
  justify-content: center;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
}

  
  #boardpage ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #boardpage li {
    flex: 0 0 calc(20% - 60px);
    margin: 15px;
    border-radius: 20px;
    height: 100%;
  }
  
  #pics:hover {
    filter: brightness(85%);
  }
  
  
  #boardpage img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 0;
    border-radius: 16px;
  }

  #boardpage {
    font-family: sans-serif;
    font-weight: 600;
  }
  
  .removedropdown {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
    font-family: sans-serif;
    margin-left: -2%;
  }
