#binback {
  background-image: url("../../images/marble.jpeg");
  background-color: #f5f5f5;
  background-size: cover;
  min-height: 100vh;
}

.form-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-container input[type="text"], select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.form-container input[type="file"] {
  appearance: none;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.form-container button {
  background-color: #e60023;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}

.form-container button:hover {
  background-color: #d5001a;
}
