#binback {
    width: 100%;
    background-image: url("../../images/marble.jpeg");
    background-size: 100% 100%;
    /* background-color: red; */
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    /* padding-bottom: 500px; */
}

#binform {
        align-items: center;
}

#fakeh1 {
    font-family: sans-serif;
    color: transparent;
}

#fakeh12 {
    font-family: sans-serif;
    padding: 10px;
    color: transparent;
    margin-top: 120px;
}

#box3 {
    border: 10px;
    /* height: fit-content; */
    border-radius: 3%;
    width: 750px;
    padding: 5%;
    margin: auto;
    background-color: white;
    margin-top: 15px;
    height: 600px;
    align-items: center;
}