#images {
    border: 2px solid black;
        border-radius: 10px;
    border-bottom: 1px solid black;
    height: 120px;
        background-color: rgba(245, 245, 245, 0.76);
        border-color: lightgray;
        background-image: "../../images/b.png";
}

#board2 {

    min-width: 230px;
    height: 130px;
    margin-right: 50px;
    cursor: pointer;
    margin-bottom: 50px;
    
}

#title2  {
    font-weight: bold;
    text-align: left;
    font-family: sans-serif;

}