#images {
    border: 2px solid black;
        border-radius: 15px;
    /* border: 8px inset black; */
    height: 200px;
    width: 280px;
        border-color: lightgray;
        background-color: rgba(245, 245, 245, 0.094);
}

#board2 {
    min-width: 250px;
    height: 200px;
    margin-right: 50px;
    cursor: pointer;
    margin-bottom: 50px;
    
}

#title2  {
    font-weight: bold;
    text-align: left;
    font-family: sans-serif;

}