/* PinterestFeed.css */
#feedback {
    width: 100%;
    background-image: url("../../images/grey.png");
    background-size: 100% 100%;
    /* background-color: red; */
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    /* padding-bottom: 500px; */

}

#pics {
    width: 200px;
    height: 200px;
}