#homes {
    background-color: white;
    background-size: 110% 100%;
    min-height: 100vh;
  }
  
  #homes ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #homes li {
    flex: 0 0 calc(20% - 60px);
    margin: 15px;
    border-radius: 20px;
    height: 100%;
  }
  
  #homes li:hover {
    filter: brightness(60%);
  }
  
  
  #homes img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 16px;
  }
  