#home {
    padding-left: 10px;
    width: 170px;
    height: 40px;
    margin-bottom: -10px;
}

#bar {
    background-color: white;
    margin-top: -15px;
    margin-left: -5px;
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

#login {
    margin-bottom: 10px;
    float: right;
    margin-right: 10px;
    min-width: 60px;
    box-sizing: border-box;
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.805);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 25px;
    font-size: 100%;
    font-family: sans-serif;
    vertical-align: middle;
    margin: 0px;
    cursor: pointer;
    line-height: normal;
    border: none;
}

#login:hover {
    background-color: lightcoral;
}

#logout {
    float: right;
        margin-right: 10px;
        min-width: 60px;
        box-sizing: border-box;
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.805);
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 25px;
        font-size: 100%;
        font-family: sans-serif;
        vertical-align: middle;
        margin: 0px;
        cursor: pointer;
        line-height: normal;
        border: none;
}

#logout:hover {
    background-color: lightcoral;
}

#signup {
    float: right;
    margin-right: 50px;
    min-width: 60px;
        box-sizing: border-box;
        display: inline-block;
        background-color: rgba(128, 128, 128, 0.381);
        color: black;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 25px;
        font-size: 100%;
        font-family: sans-serif;
        vertical-align: middle;
        margin: 0px;
        cursor: pointer;
        border: none;
        overflow: visible;
}

#signup:hover {
    background-color: lightgrey;
}

body {
    padding-top: 10px;
    flex-direction: row;
    display: flexbox;
}

#profile {
    height: 40px;
    width: 40px;
}

#dropdown {
        margin-left: -20px;
        background-color: transparent;
        color: black;
        padding-bottom: 8px;
        padding-top: 8px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 25px;
        font-size: 100%;
        font-family: sans-serif;
        cursor: pointer;
        border: lightgrey;
        border-style: dashed;
        border-width: 0.2ch;
        text-align: center;
        font-weight:600;
}

#dropdown:hover {
    background-color: rgba(211, 211, 211, 0.422);
}


#search {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        border-color: #f2f2f2;
        border-width: 3px;
        border-style: hidden;
        padding: 18px;
        border-radius: 100px;
        width: 900px;
        font-family: sans-serif;
        font-size: 15px;
}
