#home {
    margin-top: 15px;
    padding-left: 10px;
    width: 180px;
    height: 40px;
    padding-top: -10px;
    margin-right: -105px;
    
}

#bar2 {
    background-color: white;
    margin-left: -5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative; 
}

  

#bar {
    background-color: white;
    margin-top: -10px;
    margin-left: -5px;
    margin-bottom: -5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login {
    margin-bottom: 10px;
    float: right;
    margin-right: 10px;
    min-width: 60px;
    box-sizing: border-box;
    background-color: rgba(255, 0, 0, 0.805);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 25px;
    font-size: 100%;
    font-family: sans-serif;
    vertical-align: middle;
    margin: 0px;
    cursor: pointer;
    line-height: normal;
    border: none;
    display: flex;
    justify-content: center;
}


#login:hover {
    background-color: lightcoral;
}

#logout {
        float: right;
        min-width: 60px;
        box-sizing: border-box;
        margin-left: 10px;        
        background-color: rgba(255, 0, 0, 0.805);
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 25px;
        font-size: 100%;
        font-family: sans-serif;
        cursor: pointer;
        line-height: normal;
        border: none;
}

#logout:hover {
    background-color: lightcoral;
}

#signup {
    float: right;
margin-right: -10px;
    min-width: 60px;
        box-sizing: border-box;
        display: inline-block;
        background-color: rgba(128, 128, 128, 0.381);
        color: black;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 25px;
        font-size: 100%;
        font-family: sans-serif;
        vertical-align: middle;
        cursor: pointer;
        border: none;
        overflow: visible;
}

#signup:hover {
    background-color: lightgrey;
}

#profile {
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

#homelink {
    margin-top: -10px;
}

#dropdown {
        background-color: transparent;
        color: black;
        padding: 10px;
        border-radius: 25px;
        font-size: 100%;
        font-family: sans-serif;
        cursor: pointer;
        border: lightgrey;
        border-style: dashed;
        border-width: 0.1ch;
        text-align: center;
        font-weight:600;
}

#dropdown:hover {
    background-color: rgba(211, 211, 211, 0.422);
}


#search {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        border-color: #f2f2f2;
        border-style: hidden;
        padding: 15px;
        border-radius: 100px;
        width: 900px;
        font-family: sans-serif;
        font-size: 15px;
        position: relative;
}

#link {
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

#git {
margin-top: 5px;
    height: 30px;
    width: 30px;
}

#eagle {
    margin-left: 1250px;
    height: 32px;
    width: 32px;
}

.dropdown {
    display: inline-block;
    position: absolute; 
    top: 100%; 
}

#search-container {
    display: flex;
    align-items: flex-start;
  }
  
  .dropdown .bin-list {
    position: absolute;
    margin-top: -17px;
    left: 0;
    width: 900px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 6px;
    z-index: 1;
  }

.dropdown .bin-list .bin-card {
    display: block;
    padding: 10px;
    font-family: sans-serif;
    font-size: 5px;
}

.bin-card a {
    text-decoration: none;
  }

#bincardtitle {
    text-align: left;
    font-family: sans-serif;
    font-size: 16px;
}

.dropdown .bin-list .bin-card:hover {
    background-color: #f5f5f5;
}

